/*------------------------------------------------------------------- REQUISITO 3 */
#black {
    background-color: black;
}

#pink {
    background-color: pink;
}

#red {
    background-color: red;
}

#purple {
    background-color: purple;
}
